@import 'theme.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline-color: $secondary;
}

html, body, #root {
  height: 100%;
}

button {
  cursor: pointer;
}

body {
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;
  font-family: 'Montserrat', sans-serif;
  background-color: $primary;
  color: #fff;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}
