$headerPrimary: #fb6a33;
$headerSecondary: #fb491d;

$bottomPrimary: #161a1d;
$bottomSecondary: #121315;

$error: #f5370b;
$lightGray: #f7f7f7;
$white: #fff;

$borderInput: #e3e3e3;

$textColor: #1a1a1a;
$subTextColor:#898989;
$fontSize: 14;

$basePadding: 10;
$baseMargin: 10;
$baseRadius: 15;


@mixin container {
  width: 90%;
  max-width: 1200px;
  margin: 0px auto;
}

@mixin simpleFlex {
  display: flex;
  align-items: center;
}
