.listAlbumsContainer {
  padding: 10px 0;
  margin-top: 30px;
  transition: 0.3s ease-in;


  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.listAlbumsEmptyMessage {
  text-align: center;
}
